body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141414, #0f0f0f);
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0 60px 0;
}

.main-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    color: #00e676;
}

.card {
    background: #1e1e1e;
    padding: 25px;
    margin: 20px auto;
    border-radius: 14px;
    width: 420px;
    box-shadow: 0 0 25px rgba(0, 200, 83, 0.5);
    text-align: center;
}

input {
    width: 92%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background: #2a2a2a;
    color: white;
}

button {
    width: 92%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #00c853;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background: #00e676;
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 20px;
}

th {
    background: #00c853;
    padding: 14px;
    color: black;
}

td {
    padding: 14px;
    border-bottom: 1px solid #333;
    text-align: center;
}

.team-box {
    background: #222;
    padding: 18px;
    border-radius: 12px;
    width: 380px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 200, 83, 0.3);
}
