body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f1f1f, #121212);
    color: white;
    margin: 0;
}

.container {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    margin: 15px auto;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 200, 83, 0.4);
}

input, button {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

input {
    background: #2b2b2b;
    color: white;
}

button {
    background: #00c853;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #00e676;
    transform: scale(1.05);
}

.team-box {
    background: #222;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
    width: 250px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #1f1f1f;
}

th {
    background: #00c853;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

tr:hover {
    background: #2a2a2a;
}

#highestTeam {
    font-size: 20px;
    color: #00e676;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
